@model IEnumerable<Competicao.Models.Competicao>

@{
    ViewData["Title"] = "Gerenciamento de Competições";
}

<h2>Gerenciamento de Competições</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de Início</th>
            <th>Modalidade</th>
            <th>Tipo de Torneio</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var competicao in Model)
        {
            <tr>
                <td>@competicao.Nome</td>
                <td>@competicao.DataInicio.ToShortDateString()</td>
                <td>@competicao.Modalidade.Nome</td>
                <td>@competicao.TipoTorneio</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@competicao.CompeticaoId" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@competicao.CompeticaoId" class="btn btn-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@competicao.CompeticaoId" class="btn btn-danger">Excluir</a>
                    <a asp-action="Create" class="btn btn-success">Adicionar Nova Competição</a>
                </td>
                <td>@(competicao.Modalidade != null ? competicao.Modalidade.Nome : "N/A")</td>

            </tr>
        }
    </tbody>
</table>
